<fieldset>
  <legend>Add new employee</legend>
  <form #EmployeeForm="ngForm" (ngSubmit)="submit(EmployeeForm)">
    <table>
      <tr>
        <td>Employee Name:</td>
        <td><input type="text" name="name" ngModel></td>
      </tr>
      <tr>
        <td>Employee Age:</td>
        <td><input type="number" name="age" ngModel></td>
      </tr>
      <tr>
        <td>Position:</td>
        <td><select name="position" ngModel>
          <option *ngFor="let position of positions" value="{{position.id}}">{{position.name}}</option>
        </select></td>
      </tr>
      <tr>
        <td>Office:</td>
        <td>
          <select name="office" ngModel>
            <option *ngFor="let office of offices" value="{{office.id}}">{{office.name}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><button>Submit</button>
        <button routerLink="/">Cancel</button></td>
      </tr>
    </table>
  </form>
</fieldset>
